@charset "utf-8";
.container-fluid {



    background-image: url(images/backgroud
%20(1).jpg)
    background-color: #CBF8C2
    background-color: #FADADB
    background-color: #615454;

}
.container-fluid .container .navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #F4DCDD;
}
.carousel-inner .carousel-item .d-block.mx-auto {
}
